body {
  font-family: "Inter", sans-serif;
  background-color: blanchedalmond;
  text-align: center;
}
#container {
  margin: auto;
  width: 550px;
  height: 729px;
  background-color: #1f2937;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 20px;
}
h1 {
  font-size: x-large;
  font-weight: 800;
}
#input-el {
  background-color: rgba(105, 67, 255, 1);
  color: white;
  height: 285px;
  display: grid;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
input#input {
  width: 300px;
  height: 83px;
  left: 217px;
  top: 101px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  font-size: 58px;
  text-align: center;
}
button {
  width: 117px;
  height: 42px;
  top: 209px;
  border: none;
  border-radius: 5px;
}
.results {
  position: relative;
  width: 500px;
  height: 108px;
  background-color: #273549;
  color: rgba(204, 193, 255, 1);
  padding-bottom: 11px;
  display: inline-grid;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 10px;
}

.results input {
  width: 200px;
  height: 33px;
  background: transparent;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  border: none;
}
